
.new-heading {
    color: blue;
    font-weight: bold;
    font-size:1.5rem;
    font-family: sans-serif;
}
.new-photo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 80px;
    grid-template-columns: none;
    grid-template-rows: none;
    padding:10px;
    
    
}
